<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SourceDirectory" value="C:\A"/>
    <add key="DestinationDirectory" value="C:\AA"/>
    <add key="Frequency" value="30000"/> <!--In millisecond-->
    <add key="PostProcess" value="FrmProc"/> <!--Process name-->
    <add key="MachineName" value="WS116"/> <!--Process name-->
    <add key="ProcessPath" value="notepad"/> <!--Process name-->
    <add key="FileFormat" value="*.txt"/>
  </appSettings>
</configuration>