<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SourceDirectory" value="c:/A"/>
    <add key="DestinationDirectory" value="c:/AA"/>
    <add key="Frequency" value="10000"/> <!--In millisecond-->
    <add key="FileFormat" value="*.txt"/>
  </appSettings>
</configuration>